//- Project:
//- Project URI:
//- Version: 1.0
//- Tags:
//- Description:
//- Author:
//- Author URI:

//- =========================================================================
// Scripts
//- =========================================================================

+scripts('js/min/vendors/jquery-3.1.1.min.js','js/min/script.min.js')

// END Scripts
//- =========================================================================