//- Project:
//- Project URI:
//- Version: 1.0
//- Tags:
//- Description:
//- Author:
//- Author URI:

//- =========================================================================
// Footer
//- =========================================================================

footer.page-footer

	div.page-footer__center

		// Copyright
		//- =========================================================================
		p.page-footer__copyright
			a.page-footer__company-name(href="index.html") My Company
			|  &copy; 2017 - All Rights
		// END Copyright
		//- =========================================================================

		// Social Menu
		//- =========================================================================
		include ../block-modules/social-menu
		// END Social Menu
		//- =========================================================================

		// Footer Menu
		//- =========================================================================
		include ../block-modules/footer-menu
		// END Footer Menu
		//- =========================================================================

// END Footer
//- =========================================================================