//- Project:
//- Project URI:
//- Version: 1.0
//- Tags:
//- Description:
//- Author:
//- Author URI:

//- =========================================================================
// Preloader
//- =========================================================================

div.preloader-pages

	div.preloader-pages__dynamic-element

// END Preloader
//- =========================================================================