//- Project:
//- Project URI:
//- Version: 1.0
//- Tags:
//- Description:
//- Author:
//- Author URI:

//- =========================================================================
// Header
//- =========================================================================

header.page-header

	div.page-header__center

		// Logo
		//- =========================================================================
		a.page-header__logo(href='index.html' title="Logo") Logo
		// END Logo
		//- =========================================================================

		// Slogan
		//- =========================================================================
		h1.page-header__slogan Lorem ipsum dolor sit amet..
		// END Slogan
		//- =========================================================================

		// Main Menu
		//- =========================================================================
		include ../block-modules/main-menu
		// END Main Menu
		//- =========================================================================

		// Search Header
		//- =========================================================================
		include ../block-modules/search-header
		// END Search
		//- =========================================================================

// END Header
//- =========================================================================