//- Project:
//- Project URI:
//- Version: 1.0
//- Tags:
//- Description:
//- Author:
//- Author URI:

//- =========================================================================
// Sidebar
//- =========================================================================

aside.page-sidebar
	div.page-sidebar__content

		h3.page-sidebar__title Sidebar - Lorem ipsum dolor.
		p.page-sidebar__text Lorem ipsum dolor sit amet.

		////- Forms
		////- =========================================================================
		//include ../block-modules/form

// END Sidebar
//- =========================================================================