//- Project:
//- Project URI:
//- Version: 1.0
//- Tags:
//- Description:
//- Author:
//- Author URI:

//- =========================================================================
//- Content
//- =========================================================================

main.page-content

    div.page-content__center

        div.page-content__column-left

            //- Gallery
            //- =========================================================================
            include ../block-modules/main-gallery

            //- Article
            //- =========================================================================
            include ../block-modules/article

            //- Article
            //- =========================================================================
            include ../block-modules/article

            //- Article
            //- =========================================================================
            include ../block-modules/article

            //- Article
            //- =========================================================================
            include ../block-modules/article

            //- Slider
            //- =========================================================================
            include ../block-modules/main-slider

        div.page-content__column-right

            //- Sidebar
            //- =========================================================================
            include ../../blocks/frame-layout/page-sidebar