//- Project:
//- Project URI:
//- Version: 1.0
//- Tags:
//- Description:
//- Author:
//- Author URI:

extends basis/docwrapper

//- =========================================================================
//- Template
//- =========================================================================

block template

	//- Preloader
	//- =========================================================================
	include blocks/frame-layout/page-preloader

	//- Header
	//- =========================================================================
	include blocks/frame-layout/page-header

	//- Content
	//- =========================================================================
	include blocks/frame-layout/page-content

	//- Footer
	//- =========================================================================
	include blocks/frame-layout/page-footer

	//- Scripts
	//- =========================================================================
	include blocks/frame-layout/page-scripts