// Project Title:
// Project URI:
// Version:
// Tags:
// Description:
// Author:
// Author URI:

/* ==========================================================================
   Sidebar Rules
   ========================================================================== */

.page-sidebar {
	background-color: #e4e4e4;
}

.page-sidebar__content {
	padding: 20px;

	form {
		label {
			display: block;
		}
	}

}