// Project Title:
// Project URI:
// Version:
// Tags:
// Description:
// Author:
// Author URI:

/* ==========================================================================
   Content Rules
   ========================================================================== */

.page-content {
  margin: 65px 0 0;
  background-color: #e4e4e4;

  &__center{
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #a1a1a1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__column-left {
    width: 65%;
    height:100%;
  }

  &__column-right {
    width: 30%;
    height:100%;
  }

}
