//- Project:
//- Project URI:
//- Version: 1.0
//- Tags:
//- Description:
//- Author:
//- Author URI:

//- =========================================================================
//- Configuration template
//- =========================================================================

//- Lang Page
//- =========================================================================
- var LangPage = 'en'

//- Charset Page
//- =========================================================================
- var CharsetPage = 'utf-8'

//- Title Page
//- =========================================================================
- var TitlePage = 'Template for sites'

//- Author Page
//- =========================================================================
- var AuthorPage = 'Dmitriy Zatulovskiy'

//- Description Page
//- =========================================================================
- var DescriptionPage = 'Template for sites'

//- Keywords Page
//- =========================================================================
- var KeywordsPage = 'css, pug, layout, css-framework'

//- Viewport Page
//- =========================================================================
- var ViewportPage = 'width=device-width, initial-scale=1'
