//- Project:
//- Project URI:
//- Version: 1.0
//- Tags:
//- Description:
//- Author:
//- Author URI:

//- =========================================================================
// Article
//- =========================================================================

article.page-article

	h1.page-article__main-title Title

	h2.page-article__small-title Small Title

	p.page-article__text
		| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		| Aperiam, qui. Voluptate odio velit reprehenderit neque,
		| doloremillo, nesciunt cumque sint.

	p.page-article__text
		| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		| Aperiam, qui. Voluptate odio velit reprehenderit neque,
		| doloremillo, nesciunt cumque sint.

	p.page-article__text
		| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		| Aperiam, qui. Voluptate odio velit reprehenderit neque,
		| doloremillo, nesciunt cumque sint.

	footer.page-article__footer

		p.page-article__footer-tags This is article footer - tegs, links, more...

// END Article
//- =========================================================================