//- Project:
//- Project URI:
//- Version: 1.0
//- Tags:
//- Description:
//- Author:
//- Author URI:

//- =========================================================================
//- Main menu
//- =========================================================================

nav.footer-menu
	ul.footer-menu__list
		li.footer-menu__item
			a.footer-menu__link(href="#") Main
		li.footer-menu__item
			a.footer-menu__link(href="#") Products
		li.footer-menu__item
			a.footer-menu__link(href="#") Price
		li.footer-menu__item
			a.footer-menu__link(href="#") Project
		li.footer-menu__item
			a.footer-menu__link(href="#") About
		li.footer-menu__item
			a.footer-menu__link(href="#") Contact

//- END Main menu
//- =========================================================================