//- Project:
//- Project URI:
//- Version: 1.0
//- Tags:
//- Description:
//- Author:
//- Author URI:

//- =========================================================================
// Slidder
//- =========================================================================

section.slider
	p Slider - Lorem ipsum dolor sit amet.

// END Slider
//- =========================================================================