//- Project:
//- Project URI:
//- Version: 1.0
//- Tags:
//- Description:
//- Author:
//- Author URI:

//- =========================================================================
//- Search
//- =========================================================================

div.search
	form(action="" method="")
		label(for="search") Search
		input(type='search', name='search', placeholder="Search")
		input(type="submit" value="search")

//- END Search
//- =========================================================================