//- Project:
//- Project URI:
//- Version: 1.0
//- Tags:
//- Description:
//- Author:
//- Author URI:

//- =========================================================================
//- Social menu
//- =========================================================================

nav.social-menu
	ul.social-menu__list
		li.social-menu__item
			a.social-menu__link(href="#") Twitter
		li.social-menu__item
			a.social-menu__link(href="#") Facebook
		li.social-menu__item
			a.social-menu__link(href="#") Instagram

//- END Social menu
//- =========================================================================